body {
    background: url(../img/Fondito.jpg);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
}

.mensaje-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.282);
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    font-weight: bold;
}

.boton-ok {
    background-color: #A9A9A9;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
    
}